<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAIN VCA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel='stylesheet' type='text/css' href='/css/navAndFooter.css' />
</head>
<body>
  <div class="article-clean">
    <header class="header bg-white">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold bg-black">LAIN VCA</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="" class="nav-link text-uppercase font-weight-bold">Features<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-uppercase font-weight-bold">Business Solutions</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-uppercase font-weight-bold">Learn</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-uppercase font-weight-bold">JOIN IN</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <span style="display: block; margin-bottom: 5em;"></span>
    <section style="background:rgb(80, 153, 175)">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <img src="images/1.png" class="img-fluid">
                </div>
                <div class= "col-lg-6 d-flex justify-content-center align-items-center">
                    <div style="color:white;">
                        <div style="font-size: 20px; font-weight: bold">
                            Lain Video Conferencing Web app 
                        </div>
                        <div style="font-size: 30px; font-weight: bold">
                            Now meeting people in pandemic<br>just became easy
                        </div>
                        You do not need to be alone anymore cause we present<br> 
                        you the lain video Conferencing app for really easy<br>
                        Video Conferencing. No network bullshit no complexity<br>
                        here. And Fuck Apple i guess<br><br>
                        <div style="font-size: 20px; font-weight: bold">
                            See Lain Video Conferncing App in action.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <span style="display: block; margin-bottom: 3em;"></span>
    <section style="">
      <div class="container">
          <div class="row justify-content-md-center justify-content-around shadow-lg p-3 mb-5 bg-white rounded">
              <div class="col-lg-6 d-flex justify-content-center align-items-center">
                  <div class="row justify-content-md-center">
                      <div class="col-xs-6 d-flex justify-content-center align-items-center"><img src="images/4.png" class="img-fluid"></div>
                      <div class="col-xs-6 d-flex justify-content-center align-items-center">
                          <p class="text-center" style="font-size: 14px;">Open in Acrobat Reader<br>
                          Open the scanned PDF in Acrobat Reader to make notes and<br>
                          comments and review with your team. To do even more with<br>
                          your PDFs, like editing scanned PDFs on your desktop computer,<br>
                          subscribe to Acrobat Pro DC.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-center align-items-center">
                  <div class="row justify-content-md-center">
                      <div class="col-xs-6 d-flex justify-content-center align-items-center"><img src="images/5.png" class="img-fluid"></div>
                      <div class="col-xs-6 d-flex justify-content-center align-items-center">
                          <p class="text-center" style="font-size: 14px;">Fill & Sign scans on the go.<br>
                          Eliminate the hassle of finding a printer, filling a form by hand<br>
                          and scanning it again. Use Adobe Scan to turn paper forms into<br>
                          interactive digital documents you can easily fill in, sign and share.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <span style="display: block; margin-bottom: 4em;"></span>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="background: rgb(80, 153, 175);">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">Special title treatment</h5>
                <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="background: rgb(80, 153, 175);">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">Special title treatment</h5>
                <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
        </div>
        <span style="display: block; margin-bottom: 4em;"></span>
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="background: rgb(80, 153, 175);">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">Special title treatment</h5>
                <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="background: rgb(80, 153, 175);">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">Special title treatment</h5>
                <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                  With supporting text below as a natural lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <span style="display: block; margin-bottom: 4em;"></span>
    <div class="d-flex justify-content-center align-items-center" style="font-size: 27px; font-weight: bold;">
        <p class="text-center">LOG IN HERE OR REGISTER IN SECONDS</p>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-sm-5 bg-light shadow-lg border rounded py-3">
                <h2 class="text-center">Login</h2><br>
                <form action="" method="POST">
                    <div class="form-group">
                      <label for="_email">Email</label>
                      <input type="text" name="user_email" id="_email" class="form-control" placeholder="Email" rnodeequired>
                    </div>
                    <div class="form-group">
                      <label for="_pass">Password</label>
                      <input type="password" name="user_pass" id="_pass" class="form-control" placeholder="Password" required>
                    </div>
                    <% if (locals.login_errors) { 
                      login_errors.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } %>
                    <div class="d-flex justify-content-center align-items-center" style="font-size: 27px; font-weight: bold;">
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 bg-light shadow-lg rounded border py-3 offset-sm-1">
                <h2 class="text-center">Register</h2><br>
                <form action="/register" method="POST" novalidate>
                  <div class="form-group">
                    <label for="_rname">Name</label>
                    <input type="text" name="user_name" id="_rname" class="form-control" placeholder="Name" value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
                  </div>
                  <div class="form-group">
                    <label for="_remail">Email</label>
                    <input type="email" name="user_email" id="_remail" class="form-control" placeholder="Email" value="<%= (locals.old_data) ? old_data.user_email : ''; %>" required>
                  </div>
                  <div class="form-group">
                    <label for="_rpass">Password</label>
                    <input type="password" name="user_pass" id="_rpass" class="form-control" placeholder="Password" required>
                  </div>
                  <% if (locals.register_error) { 
                    register_error.forEach(function(error_msg){ %>
                    <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                  <% });
                  } %>
                  <div class="d-flex justify-content-center align-items-center" style="font-size: 27px; font-weight: bold;">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <span style="display: block; margin-bottom: 3em;"></span>
    <section>
      <div class="footer-clean" style="background: rgb(209, 206, 206);">
          <footer>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-sm-4 col-md-3 item">
                          <h3>Products</h3>
                          <ul>
                              <li><a href="#">Creative Cloud/a></li>
                              <li><a href="#">Experience Cloud</a></li>
                              <li><a href="#">Document Cloud</a></li>
                              <li><a href="#">Elements 2021 Family</a></li>
                              <li><a href="#">Special offers</a></li>
                              <li><a href="#">View All products</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 item">
                          <h3>Support</h3>
                          <ul>
                              <li><a href="#">Help Center</a></li>
                              <li><a href="#">Community forum</a></li>
                              <li><a href="#">Enterprise Support</a></li>
                              <li><a href="#">Download & install</a></li>
                              <li><a href="#">Genuine software</a></li>
                              <li><a href="#">Legacy</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-4 col-md-3 item">
                          <h3>LAIN VC</h3>
                          <ul>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Newsroom</a></li>
                              <li><a href="#">Corporate responsilibity</a></li>
                              <li><a href="#">Investor Relations</a></li>
                              <li><a href="#">Supply chain</a></li>
                              <li><a href="#">Trust Center</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                          <p class="copyright">LAIN VCA © 2021</p>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </section>
  </div>
</body>
</html>